<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- users_mapper.xml -->
<mapper namespace="co.team.admin.service.impl.AdminMapper">

<!-- ADMIN select 리스트 -->
	<select id="getAdmin" resultType="adminVO" parameterType="adminVO">
		select *
		from ADMIN

	</select>
	

	
<!-- 프로필 정보 단건조회 -->
<select id="getProfileInfo" resultType="adminVO" parameterType="String">
		select * 
			from profile_info 
			where	rownum=1 
					and id=#{id}

	</select>
	
<select id="getOwnerId" resultType="string" parameterType="adminVO">
	select id from admin where id=#{id}
	</select>
	
<!-- 비번동일조회 -->	
<select id="comparePw" resultType="int" parameterType="adminVO">
	select count(*) from admin where id=#{id} and password=#{password}
	</select>
	

<!-- 회원가입 -->	
	
		<insert id="addOwnerMember" parameterType="adminVO">
		insert into ADMIN(id, password, name, phone_number, zipcode, 
							address, address_detail, fitness_name, email) values
		(
		#{id},
		#{password}, 
		#{name},
		#{phone_number},
		#{zipcode},
		#{address},
		#{address_detail},
		#{fitness_name},
		#{email}
	
		)
				
	</insert>
	
	<update id="updateOwner" parameterType="adminVO">
	update admin
	<set>
	<if test="password !=null and password !=''">
	password=#{password}
	</if>
	<if test="phone_number !=null and phone_number !=''">
	phone_number=#{phone_number}
	</if>
	<if test="zipcode !=null and zipcode !=''">
	zipcode=#{zipcode}
	</if>
	<if test="address !=null and address !=''">
	address=#{address}
	</if>
	<if test="address_detail !=null and address_detail !=''">
	address_detail=#{address_detail}
	</if>
	<if test="fitness_name !=null and fitness_name !=''">
	fitness_name=#{fitness_name}
	</if>
	<if test="email !=null and email !=''">
	email=#{email}
	</if>
	
	
	
	</set>
	
	
	where id=#{id}
	
	</update>
	
	
	
</mapper>
