<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- users_mapper.xml -->
<mapper namespace="co.team.spring.service.impl.DeptMapper">
	<select id="getDept" resultType="DeptVO" parameterType="DeptVO">
		select *
		from departments
		where department_id = 11

	</select>
	

	
</mapper>
