<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="co.team.food.service.impl.FoodMapper_kdh">
 
 <!-- Food 전체 리스트 -->
 	<select id="getSearchFood" resultType="FoodVO" parameterType="FoodVO">
 		select id, name, age, gender, phone_number
		from ff_user
 	</select>
 
  <!-- Food 단건 조회 -->
 	<select id="getFood" resultType="FoodVO" parameterType="FoodVO">
 		select id, name, age, gender, phone_number
		from ff_user
		where id=#{id}
 	</select>
 </mapper>