<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- trainer_mapper.xml -->
<mapper namespace="co.team.trainer.service.impl.TrainerMapper">

	<select id="getTrainerList" resultType="TrainerVO"
		    parameterType="TrainerVO">
	
			SELECT 
			FITNESS_ID
			,ID
			,NAME
			,PHONE_NUMBER
			,CAREER
			,GENDER
			,HIRE_DATE
			FROM TRAINER
			WHERE FITNESS_ID = #{fitness_id}
	</select>
	
	<insert id="addTrainerMember" parameterType="TrainerVO">
		
		INSERT INTO TRAINER(
		 ID
		,FITNESS_ID
		,PASSWORD
		,PHONE_NUMBER
		,NAME
		,GENDER 
		) 
		
		VALUES (
		 #{id}
		,#{fitness_id}
		,#{password}
		,#{phone_number}
		,#{name}
		,#{gender}
		)

	</insert>

	<select id="getTrainerId" resultType="string"
			parameterType="TrainerVO">
		
		SELECT ID FROM TRAINER WHERE ID = #{id}
	
	</select>

	<select id="getTrainer" resultType="TrainerVO"
		parameterType="string">

			SELECT ID
			,FITNESS_ID
			,PASSWORD
			,PHONE_NUMBER
			,NAME
			,GENDER
			,AWARDS
			,CAREER
			,HIRE_DATE
			FROM TRAINER WHERE ID = #{id}

	</select>

	<update id="updateTrainer" parameterType="TrainerVO">
 		
 		UPDATE TRAINER SET NAME = #{name}
 		, gender=#{gender}
 		, phone_number=#{phone_number}
		WHERE ID = #{id}
 	
 	</update>
	
	<update id="deleteTrainer" parameterType="TrainerVO">
 		
 		DELETE FROM TRAINER
		WHERE ID = #{id}
 	
 	</update>
 	
</mapper>