<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
	<!-- user notice 유저공지  -->
	<mapper namespace="co.team.board.service.impl.UserNoticeBoardMapper">
	
	
	<select id="getUserNoticeBoard" 
			resultType="UserNoticeBoardVO"
			parameterType="UserNoticeBoardVO">
			
				SELECT 	  rownum as seq,
	 			  board_no
	 			  ,category
	 			  ,title
	 			  ,content
	 			  ,reg_date
	 			  ,hit
 		FROM
 		 	 (
 		 	 	SELECT *  FROM (
	 		 	 			
	 		 	 	
 		 	 						SELECT 	Board_no,	rownum as seq,	
 		 	 								
			 		 	 					category,
			 		 	 					title,
			 		 	 					content,
			 		 	 					reg_date,
			 		 	 					hit
			 		 	 			FROM (
			 		 	 			SELECT RANK() OVER(ORDER BY board_no) 
 		 	 						AS Board_no,	
 		 	 								
			 		 	 					category,
			 		 	 					title,
			 		 	 					content,
			 		 	 					reg_date,
			 		 	 					hit
 		 	 						FROM	 user_notice_board
 		 	 						WHERE 	 1=1
 		 	 						AND
 		 	 						fitness_id = #{fitness_id}
 		 	 					<choose>
 		 	 						<when test="search != null">
 		 	 							and title like #{search}	
 		 	 						</when>
 		 	 					</choose>
 		 	 					ORDER BY board_no desc	
 		 	 					) 
 		 	 					<![CDATA[
 		 	 				   )WHERE SEQ >= #{start}
				        	   )
 		 	 					WHERE rownum <= 10
 		 	 					]]>	
			
	</select>
	
		<select id="appNoticeUserh" parameterType="int" resultType="UserNoticeBoardVO">
 		select * from user_notice_board
 		where board_no=#{board_no}
		</select>
	
	<select id="" 
			parameterType="UserNoticeBoardVO"
			resultType="UsernVO">
			
		 	
			 SELECT BOARD_NO
				,MEM_BOARD_NO
				,CATEGORY
				,TITLE
				,CONTENT
				,REG_DATE
				,HIT
				,MEM_REG_ID
			FROM USER_NOTICE_BOARD	  
	</select>
</mapper>

